:root {
  --bg: #0f172a;
  --text: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-align: center;
  font-family: Inter, sans-serif;
  background: var(--bg);
  color: var(--text);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 24px;
}
p{
  color: #ccc;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #7c3aed;
}